body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.card img {
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.hero-item {
    height: 600px;
    background-size: cover;
    background-position: center;
}

#item-1 {
    background-image: url('https://somosmhum.github.io/catalogo/RECURSOS/primeraimag.jpg');
}

#item-2 {
    background-image: url('https://somosmhum.github.io/catalogo/RECURSOS/segunda.jpg');
}

#item-3 {
    background-image: url('https://somosmhum.github.io/catalogo/RECURSOS/tercera.jpg');
}
/* Estilo general para el navbar */
.custom-bg {
    background-color: #343a40 !important;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
    color: #ffffff;
}

.nav-link:hover {
    color: #ecd9bf;
}
nav .navbar-logo {
    width: 120px;
    height: 60px;
}
