body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.card img {
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.hero-item {
    height: 600px;
    background-size: cover;
    background-position: center;
}

#item-1 {
    background-image: url('./recursos/primeraimag.jpg');
}

#item-2 {
    background-image: url('./recursos/segunda.jpg');
}

#item-3 {
    background-image: url('./recursos/tercera.jpg');
}